body{
    margin: 0;
    background-color: #000000;
    font-family: "Quicksand", sans-serif;
    background-image: linear-gradient(0deg, #fff2e8 50%, #8abdff 50%);
    background-size: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img{
    margin-bottom: 2rem;
}

nav{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

a{
    color: black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    width: 7rem;
    height: 4rem;
    border: none;
    background-color: #2987c5;
    transition: 0.2s;
    box-shadow: 5px 5px 5px rgba(139, 139, 139, 0.7);
}

.button:hover{
    scale: 105%;
}

main{
    background-color: #ffb36d;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px rgba(139, 139, 139, 0.7);
    min-height: 100vh;
}

main img{
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.MenuContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    padding-top: 2rem;
}

.MenuItem{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.MenuItem img{
    border-radius: 1rem;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.7);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #ffb36d;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.FooterImageContainer{
    display: flex;
    gap: 2rem;
}

footer img{
    max-width: 2rem;
    max-height: 2rem;
}

